﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Estilos Encabezado*/
.Titulo {
    background-color: #166CCF !important; /* Orange */
    color: #ffffff !important;
}

    .Titulo h1 {
        font-size: 63px;
        display: block;
        font-size: 2em;
    }

.bg-grey {
    background-color: #f6f6f6;
}

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    margin-bottom: 0px !important;
}

.container-fluid {
    padding: 60px 50px;
}

.logoP {
    font-size: 150px !important;
    color: #166CCF !important;
}

.logoButton {
    font-size: 20px !important;
    color: #166CCF !important;
    border-radius: 1px;
}

.logo-smallP {
    color: #166CCF !important;
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.margin2 {
    margin-left: 2px;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}
/*---------------Carrusel---------*/
.carousel-control.right, .carousel-control.left {
    background-image: none !important;
    color: #166CCF;
}

.carousel-indicators li {
    border-color: #166CCF;
}

    .carousel-indicators li.active {
        background-color: #166CCF;
    }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

footer {
    margin-top: 30px;
}
/*---------------MEnu-------------*/
.navbar {
    margin-bottom: 0;
    background-color: #3F3F3F !important;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #166CCF !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/*Menu estatico*/
.MenuEstatico {
    border: 0px !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: #3F3F3F !important;
}

/*----TITULO----*/
.tituloP {
    color: #1D5CA9;
}

.subTitulo {
    text-shadow: 0px 1px 3px rgba(255,255,255,0.85);
    color: #42515e;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 5px;
    font-size: 20px;
    /*line-height: 2em;*/
}
/*----Contenedores ----*/
.caja {
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 4px rgba(227, 228, 230, 0.7);
    border-width: 1px;
    border-color: #d2d3d5;
}
/*----Separador ----*/
.greyTriangleTab {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #ebebf0;
    -moz-transform: scale(0.9999);
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    position: relative;
    /*z-index: 3;*/
    padding-top: 15px;
}

.greyBackground {
    background-color: #ebebf0;
}
/*----Cargando -----*/
#divLoader {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 160%;
    position: absolute;
    background-color: #000244;
    opacity: 0.5;
}

    #divLoader .modal {
        z-index: 1999;
        left: 0;
        top: 0;
        top: 15%;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        -ms-opacity: 0.5;
        -moz-opacity: 0.5;
        background-color: #000244;
    }

    #divLoader .loader {
        position: absolute;
        left: 45%;
        bottom: 40%;
        z-index: 2000;
        padding-top: 20px;
        padding-left: 20px;
        top: 40%;
        display: block;
    }
/*----Ocultar elemento ---*/
.invisible {
    display: none;
}
/*---Table ----*/
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr > th {
   background-color: #95C5FF;
}
