﻿@model IEnumerable<Intecsus.Entidades.Rol>
@using Intecsus.Entidades
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configuracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impresoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procesos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Log)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transacciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Configuracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impresoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procesos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transacciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "Rol", item, new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divEditRol",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|
                @Ajax.ActionLink("Eliminar", "Delete", "Rol", new { idRol = item.IdRol }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "divRol",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
