﻿<h4 class="subTitulo text-center"> Estados Transacción</h4>
<div class="col-sm-6 media" id="divListEstados">
    @Html.Partial("~/Views/Estados/_Details.cshtml", (List<Intecsus.Entidades.Estados>)Session["Estados"])
</div>
<div class="col-sm-5 media" id="divEditEstados">
    @Html.Partial("~/Views/Estados/_Create.cshtml", new Intecsus.Entidades.Estados())
</div>
