﻿@model IEnumerable<Intecsus.Entidades.EstadoTransaccion>

@{
    var m_Estados = (IEnumerable<Intecsus.Entidades.EstadoTransaccion>)ViewData["Estados"];  
}

<h3 class="subTitulo text-center">Ultimas transacciones</h3>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTransaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdtransaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in m_Estados)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdtransaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
        </tr>
    }

</table>
