﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @{
                var user = (Intecsus.Entidades.Usuario)Session["Usuario"];
                if (user != null)
                {
                    <a class="navbar-brand" href="#myPage">@user.Nombres</a>
                }
            }
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#divUsuario">Usuario</a></li>
                <li><a href="#divRol">Roles</a></li>
            </ul>
        </div>
    </div>
</div>
