﻿@model IEnumerable<Intecsus.Entidades.EstadoXImpresora>
@using Intecsus.Entidades
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCodRespuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceStatus)
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCodRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "EstadoXImpresora", item, new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divListEstadoXImpresora",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|
                @Ajax.ActionLink("Eliminar", "Delete", "EstadoXImpresora", new { IdCodRespuesta = item.IdCodRespuesta }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "divEstadoXImpresora",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
