﻿<h4 class="subTitulo text-center"> Estados X Impresora</h4>
<div class="col-sm-6 media" id="divListEstadoXImpresora">
    @Html.Partial("~/Views/EstadoXImpresora/_Details.cshtml", (List<Intecsus.Entidades.EstadoXImpresora>)ViewBag.ListaEstadoXImpresora)
</div>
<div class="col-sm-5 media" id="divEditEstadoXImpresora">
    @{
        Intecsus.Entidades.EstadoXImpresora m_Estados = new Intecsus.Entidades.EstadoXImpresora();
        m_Estados.EstadosSelec = (IEnumerable<Intecsus.Entidades.Estados>)Session["Estados"];
    }
    @Html.Partial("~/Views/EstadoXImpresora/_Create.cshtml", m_Estados)
</div>
