﻿@model IEnumerable<Intecsus.Entidades.Mensajes>
@using Intecsus.Entidades
<table class="tablesorter" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoMensaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MensajeEnviado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoCliente)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoMensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MensajeEnviado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCliente)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "Mensajes", item, new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divEditMensajes",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|
                @Ajax.ActionLink("Eliminar", "Delete", "Mensajes", new { codigoMensaje = item.CodigoMensaje }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "divMensajes",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
