﻿<h4 class="subTitulo text-center"> Mensajes X Codigo CW</h4>
<div class="col-sm-6 media" id="divListMensajes">
    @Html.Partial("~/Views/Mensajes/_Details.cshtml", (List<Intecsus.Entidades.Mensajes>)ViewBag.ListaMensajes)
</div>
<div class="col-sm-5 media" id="divEditMensajes">
    @Html.Partial("~/Views/Mensajes/_Create.cshtml", new Intecsus.Entidades.Mensajes())
</div>
