﻿@model IEnumerable<Intecsus.Entidades.Configurar>
@using Intecsus.Entidades
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDValor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "Configuracion", item, new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divEditConfig",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|
                @Ajax.ActionLink("Eliminar", "Delete", "Configuracion", new { idConfig = item.IDValor }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "Configurador",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
