﻿<h4 class="subTitulo text-center"> Valores Configuración</h4>
<div class="col-sm-6 media" id="divListConfig">
    @Html.Partial("~/Views/Configuracion/_Details.cshtml", (List<Intecsus.Entidades.Configurar>)ViewBag.ListaConfig)
</div>
<div class="col-sm-5 media" id="divEditConfig">
    @Html.Partial("~/Views/Configuracion/_Create.cshtml", new Intecsus.Entidades.Configurar())
</div>
