﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #189c21;
}

a:hover
{
    color: #18CC42;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #18AD27;
    min-height: 600px;
    height: 100% !important;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #30A83C;
    padding-left: 80px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

input[type="text"], input[type="password"], select, textarea, input[type="submit"], input[type="button"]
{
    font-family: Arial;
    font-size: 12px;
}
input[type="checkbox"], input[type="radio"], input[type="image"]
{
    border-style: none;
    border-radius: 0;
}
.boton, input[type="submit"], input[type="button"]
{
    background: #389241;
    background-position: center center;
    color: #fff;
}
.botonCancelarSolicitudAjax
{
    display: inline-block;
    padding: 2px 3px;
}
.botonCancelarSolicitudAjax:hover
{
    text-decoration: none;
}
input, select, textarea, .boton
{
    border: 1px solid #18AD27;
    color: #22485f;
    border-radius: 5px;
}
select
{
    z-index: 0;
}
/****************** Miscelanea******************/

.separacion
{
    padding: 10px;
}
.mediaSeparacion
{
    padding: 5px;
}
.flotanteIzq
{
    float: left;
    padding-left: 2px;
}
.flotanteDer
{
    float: right;
    padding-right: 2px;
}
.limpiarFlotante
{
    clear: both;
}
.grilla960_12_1
{
    width: 70px;
}
.grilla960_12_2
{
    width: 140px;
}
.grilla960_12_3
{
    width: 220px;
}
.grilla960_12_4
{
    width: 300px;
}
.grilla960_12_5
{
    width: 380px;
}
.grilla960_12_6
{
    width: 460px;
}
.grilla960_12_7
{
    width: 540px;
}
.grilla960_12_8
{
    width: 620px;
}
.grilla960_12_9
{
    width: 700px;
}
.grilla960_12_10
{
    width: 800px;
}
.grilla960_12_11
{
    width: 860px;
}
.grilla960_12_12
{
    width: 940px;
}

.validacionMensaje
{
    color: Red;
    font-size: 11px;
    font-style: italic;
}

/******************Caja******************/
.caja, .cajaSoloContenido
{
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 4px rgba(227, 228, 230, 0.7);
}
.caja .cajaTitulo
{
    padding: 3px;
    font-size: 12px;
    height: 15px;
    background-repeat: repeat-x;
    border-style: solid;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaaaaa;
}
.caja .cajaLogo
{
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: 5px;
    float: left;
}
.caja .cajaTitulo, .cargando .contenido
{
    box-shadow: inset 0 0 10px #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #1F5335;
}
.caja .cajaContenido
{
    border-style: none solid solid solid;
    background: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cajaSoloContenido
{
    border-style: solid solid solid solid;
    background: #f2f2f2;
    border-radius: 5px;
}
.cajaOculta .cajaTitulo:hover
{
    box-shadow: inset 0 0 5px #d2d3d5;
}
.caja .cajaContenido, .caja .cajaTitulo, .cajaSoloContenido
{
    border-width: 1px;
    border-color: #d2d3d5;
}
.caja .cajaContenido, .cajaSoloContenido
{
    padding: 10px;
    overflow: auto;
}
.cajaMover .manejador
{
    cursor: move;
}
/******************Pie******************/
.pie
{
    background: #30A83C;
    height: 25px;
    width: 960px;
    margin: 0px auto 0px auto;
    border: 2px solid #30A83C;
}
/******************Cargando******************/
.cargando .contenido
{
    margin-left: -70px;
    margin-top: -70px;
    left: 50%;
    top: 50%;
    width: 140px;
    z-index: 1005;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    background-color: #FFF;
    background-position: top;
    background-repeat: repeat-x;
}
.cargando .contenido
{
    position: fixed;
    padding: 10px;
    background-color: #F1F2F2;
    border-color: #4C8D6B;
}
.cargando .contenido
{
    border-radius: 5px;
}
.cargando .fondo
{
    z-index: 1004;
}
.cargando .fondo, .ventanaModal .ventanaModalFondo
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #0d2c40;
    background-image: url('img/bgFondoModales.gif');
}
/******************Modal******************/
.ventanaModal
{
    display: none;
}
.ventanaModal .ventanaModalEnvoltura
{
    margin-left: -125px;
    margin-top: -125px;
    left: 10%;
    top: 40%;
    min-width: 100px;
    z-index: 1001;
    position: fixed;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.ventanaModal .ventanaModalFondo
{
    z-index: 1000;
}
.ventanaModal .ventanaModalTitulo
{
    border-style: solid;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 5px;
    height: 15px;
    display: block;
    background: #4b738c;
    border-color: #22485f;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 0 3px #a4c4d9;
    white-space: nowrap;
    min-width: 100px;
}
.ventanaModal .ventanaModalTitulo .manejador
{
    text-shadow: -1px 0 #22485f, 0 1px #22485f, 1px 0 #22485f, 0 -1px #22485f;
}
.ventanaModalTituloHerramientas
{
    float: right;
    height: 15px;
}
.ventanaModalTituloHerramientas a
{
    display: block;
    float: left;
    margin-right: 2px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    font-size: 11px;
    padding: 0 3px;
    cursor: pointer !important;
    border-color: #22485f;
    color: #22485f;
    background-color: #a4c4d9;
    border-radius: 5px;
}

.ventanaModalTituloHerramientas a:hover
{
    background: #4b738c;
    color: #a4c4d9;
    text-decoration: none;
}
.ventanaModal .ventanaModalContenido
{
    padding: 10px;
    border-style: none solid solid solid;
    cursor: default !important;
    display: none;
    border-color: #22485f;
    background: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
    margin: 0 3px;
    overflow: auto;
}
.ventanaModal .ventanaModalContenidoDinamico
{
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-style: solid;
    overflow: auto;
    border-color: #d2d3d5;
    border-width: 1px;
    background: #f2f2f2;
}
.ventanaModal .ventanaModalContenido, .ventanaModal .ventanaModalTitulo
{
    border-width: 1px;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.5);
}
.ventanaModal .ventanaModalTitulo .manejador
{
    display: block;
    margin-right: 25px;
}
/******************Notificaciones******************/
.notificacion
{
    position: absolute;
    z-index: 1002;
    font-size: 11px;
    font-style: italic;
    background-position: 2px 4px;
}
.notificacionControles
{
    float: right;
    padding: 3px 3px 0 0;
}
.notificacionContenido
{
    display: block;
}
.notificacionError
{
    border-color: #a70304;
    color: #a70304;
    background: url('../../img/iconos/iconoError15x15.png') no-repeat #fde0e0;
    border-style: solid;
    border-width: 1px;
}
.notificacionError hr
{
    border-top: 1px solid #a70304;
}
.notificacionAdvertencia
{
    border-color: #ff8800;
    color: #ba6605;
    background: url('../../img/iconos/iconoAdvertencia15x15.png') no-repeat #fffbc1;
    border-style: solid;
    border-width: 1px;
}
.notificacionAdvertencia hr
{
    border-top: 1px solid #ff8800;
}
.notificacionInformacion
{
    border-color: #4b738c;
    color: #22485f;
    background: url('../../img/iconos/iconoInformacion15x15.png') no-repeat #e6f3fc;
    border-style: solid;
    border-width: 1px;
}
.notificacionInformacion hr
{
    border-top: 1px solid #4b738c;
}
.notificacionRealizado
{
    border-color: #819f0e;
    color: #4d6100;
    background: url('../../img/iconos/iconoHecho15x15.png') no-repeat #e7f6ad;
    border-style: solid;
    border-width: 1px;
}
.notificacionRealizado hr
{
    border-top: 1px solid #819f0e;
}
.notificacion
{
    box-shadow: 4px 4px 4px rgba(227, 228, 230, 0.7);
}
.notificacionError, .notificacionAdvertencia, .notificacionInformacion, .notificacionRealizado
{
    padding: 5px 5px 5px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/******************Menus******************/
.menu ul
{
    height: 25px;
    font-size: 11px;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    z-index: 1000;
}
.menu ul li
{
    border-color: #d0d1d3;
    border-radius: 3px;
    background-color: #ededef;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
}
.menu ul li ul
{
    height: auto;
}
.menu ul .hover, .menu ul li a.highlighted
{
    background-color: #22485f;
    background-position: center center;
    color: #ededef;
    border-radius: 3px;
}
.menu ul li a
{
    color: #22485f;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-decoration: none;
    font-size: 12px;
}
.menu ul li .hover, .menu ul li a:hover
{
    text-decoration: none;
}
.menu ul li ul li
{
    background-color: #ededef;
    background-image: none;
    border-style: solid !important;
    box-shadow: inset 0 0 10px #FFFFFF, 3px 3px 3px rgba(180, 180, 180, 0.5);
    white-space: nowrap;
}

/***** Tablas ****/
table.tabla1, table.tabla2, table.tabla3, table.tablaLimpia
{
    border-collapse: collapse;
    border: 0;
}
table.tabla1 td, table.tabla2 td, table.tabla3 td
{
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
table.tabla1 th
{
    padding: 5px;
}
table.tabla1 th, table.tabla1 th a
{
    font-size: 10px;
    font-weight: bold;
}
table.tabla1
{
    border: 1px solid #dadadc;
    background: #FDFDFD;
}
table.tabla1 td
{
    padding: 3px;
    font-size: 11px;
    border: 1px dotted #dadadc !important;
    color: #182023;
}
table.tabla2 td
{
    padding: 3px;
    color: #182023;
    border-bottom: 1px dotted #CCC;
}
table.tabla3
{
    border: 1px solid #dadadc;
}
table.tabla3 td
{
    padding: 3px;
    border: 1px dotted #dadadc;
    color: #182023;
}
table.tablaLimpia td
{
    border: none !important;
    background: none !important;
    padding: 0 !important;
}
table.tablaLimpia th
{
    border: none !important;
    background: none !important;
    padding: 0;
    margin: 0;
}
table a.Eliminar, table a.editar, table a.seleccionar
{
    display: block;
}
table a.editar
{
    background-image: url('../../img/Iconos/editar.gif');
    width: 16px;
    height: 16px;
    text-decoration: none;
    background-repeat: no-repeat;
}
table a.Eliminar
{
    background-image: url('../../img/Iconos/Eliminar.gif');
    width: 16px;
    height: 16px;
    text-decoration: none;
    background-repeat: no-repeat;
}
table a.seleccionar
{
    background-image: url('../../img/Iconos/iconoHecho15x15.png');
    width: 15px;
    height: 15px;
    text-decoration: none;
    background-repeat: no-repeat;
}
table.tabla1 th
{
    background-color: #00CC66;
    border: 1px solid #dadadc !important;
}
table.tabla1 th, table.tabla1 th a
{
    color: #182023;
}

table.tabla1 tr.alternativa td, table.tabla3 tr.alternativa td, table.tabla2 tr.alternativa td
{
    background-color: #e3e4e6;
}
table.tabla1 .even td
{
    background-color: #e3e4e6;
}
table.tabla1 tr:hover td
{
    background-color: #FFF;
}

table.tabla3 tr:hover td
{
    background-color: #FFF;
}
table.login
{
    border-radius: 5px;
}
table.login td
{
    padding: 3px;
}
table.login .titulo
{
    background-image: url('img/cajaTituloBg.jpg');
}
table.tableSorter .header
{
    cursor: pointer;
}
table.tableSorter .headerSortUp
{
    background-color: #a4c4d9;
    background-image: url('../../img/desc.gif');
    background-repeat: no-repeat;
    background-position: center top;
}
table.tableSorter .headerSortDown
{
    background-color: #a4c4d9;
    background-image: url('../../img/asc.gif');
    background-repeat: no-repeat;
    background-position: center top;
}
table tr.seleccionada td
{
    font-weight:bold;
    background-color: #d0d1d3;
}
.tablaHerramientas
{
	background-color: #e3e4e6;
    background-image: url('img/bgContenedoresPq.jpg');
    background-repeat: repeat-x;
    background-position: center;
	border: 1px solid #cccccc;
	padding: 5px 5px 0 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	display: inline-block;
	box-shadow: 2px 2px 2px rgb(220, 220, 220);
}
.tablaHerramientas .tablaPaginador input {
	width: 50px;
}
.tablaHerramientas input,.tablaHerramientas select
{
	font-size:10px;
	position: relative;
	bottom: 3px;
}
.tablaHerramientas .tablaSeleccion
{
    background-image: url('../../img/tablasHerramientas.png');
    background-repeat: no-repeat;
}
.tablaHerramientas .tablaSeleccion a
{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}
.tablaHerramientas .tablaSeleccion a:hover
{
    text-decoration: none;
}
.tablaHerramientas .tablaFiltro input
{
	width: 80px;
}
.tablaHerramientas .tablaFiltro, .tablaHerramientas .tablaPaginador, .tablaHerramientas .tablaTotal
{
	margin:0 5px 3px 0; 
	padding-right: 5px;
	border-right: 1px solid #CCC;
	height: 20px;
}
.tablaHerramientas .tablaTotal
{
	font-size: 11px;
	color: #22485f;
}

tr.seleccionada td 
{
	background-color: #A4C4D9 !important;
	font-weight: bold;	
}