﻿@{
    ViewBag.Title = "Config IHI";
}
<div id="Configurador" class="row">
    @Html.Partial("~/Views/Configuracion/Index.cshtml")
</div>
<div class="greyTriangleTab"></div>
<div id="Procesos" class="row greyBackground">
    @Html.Partial("~/Views/Procesos/Index.cshtml")
</div>
@Html.Partial("~/Views/SubMenu/_SubMenuC.cshtml")

