﻿
@{
    ViewBag.Title = "EstadosCW";
}
<div id="divEstados" class="row">
    @Html.Partial("~/Views/Estados/Index.cshtml")
</div>
<div class="greyTriangleTab"></div>
<div id="divEstadoXImpresora" class="row greyBackground">
    @Html.Partial("~/Views/EstadoXImpresora/Index.cshtml")
</div>
<div id="divEstadoXImpresion" class="row">
    @Html.Partial("~/Views/EstadosXImpresion/Index.cshtml")
</div>
@Html.Partial("~/Views/SubMenu/_SubEstadosCW.cshtml")

