﻿
@{
    ViewBag.Title = "Integración CW";
}
<div id="Impresoras" class="row">
    @Html.Partial("~/Views/Impresoras/Index.cshtml")
</div>
<div class="greyTriangleTab"></div>
<div id="Productos" class="row greyBackground">
    @Html.Partial("~/Views/Productos/Index.cshtml")
</div>
@Html.Partial("~/Views/SubMenu/_SubMenuIntegrarCW.cshtml")

