﻿
@{
    ViewBag.Title = "Mensajes";
}
<div id="divMensajes" class="row">
    @Html.Partial("~/Views/Mensajes/Index.cshtml")
</div>
<div class="greyTriangleTab"></div>
<div id="divConversiones" class="row greyBackground">
    @Html.Partial("~/Views/ConversionM/Index.cshtml")
</div>
@Html.Partial("~/Views/SubMenu/_SubMenuMensajes.cshtml")