﻿@{
    ViewBag.Title = "Usuarios";
}
<div id="divUsuario" class="row">
    @{
        var user = (Intecsus.Entidades.Usuario)Session["Usuario"];
        if (user.RolAsociado.Usuarios == true)
        {
            @Html.Partial("~/Views/Usuario/Index.cshtml");
        }
        else
        {
            @Html.Partial("~/Views/Usuario/_ModificarContrasena.cshtml");
        }
    }
</div>
<div class="greyTriangleTab"></div>
<div id="divRol" class="row greyBackground">
    @Html.Partial("~/Views/Rol/Index.cshtml")
</div>
@Html.Partial("~/Views/SubMenu/_SubMenuU.cshtml")

