﻿@model Intecsus.Entidades.ProcesosBD
@using Intecsus.Entidades
@{

    string m_Formulario = string.IsNullOrEmpty(ViewBag.EditarProceso) ? "Crear" : ViewBag.EditarProceso;
}
@using (Ajax.BeginForm(@m_Formulario, "Procesos",
    new AjaxOptions
    {//GetPatients is name of method in PatientController
        OnBegin = "onSuccess",
        HttpMethod = "POST",
        UpdateTargetId = "Procesos",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoader" // div with .gif loader - that is shown when data are loading
    }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/_Mensajes.cshtml")
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">
                @Model.IDProceso
                @Html.EditorFor(model => model.IDProceso, new { htmlAttributes = new { @class = "invisible" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NombreProceso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.NombreProceso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreProceso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@m_Formulario" class="btn btn-primary"  />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
