﻿@model IEnumerable<Intecsus.Entidades.ProcesosBD>
@using Intecsus.Entidades
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDProceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProceso)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDProceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProceso)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "Procesos", new ProcesosBD { IDProceso = item.IDProceso, NombreProceso = item.NombreProceso }, new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divEditProceso",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|
                @Ajax.ActionLink("Eliminar", "Delete", "Procesos", new { idProceso = item.IDProceso }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "Procesos",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
