﻿
<h4 class="subTitulo text-center" > Procesos del sistema</h4>
<div class="col-sm-6 media" id="divListProceso">
    @Html.Partial("~/Views/Procesos/_Details.cshtml", (List<Intecsus.Entidades.ProcesosBD>)ViewBag.ListaProcesos)
</div>
<div class="col-sm-5 media caja" id="divEditProceso">
    @Html.Partial("~/Views/Procesos/_Create.cshtml", new Intecsus.Entidades.ProcesosBD { IDProceso = 0, NombreProceso = string.Empty } )
</div>