﻿@model IEnumerable<Intecsus.Entidades.Impresoras>
@using Intecsus.Entidades
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdImpresora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreRecibido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdImpresora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRecibido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "Impresoras",
                         new Impresoras { 
                             IdImpresora = item.IdImpresora,
                             NombreRecibido = item.NombreRecibido ,
                             PCNAME = item.PCNAME,
                             IP = item.IP
                         }, 
                         new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divEditImpresoras",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|
                @Ajax.ActionLink("Eliminar", "Delete", "Impresoras",
                             new { idImpresora = item.IdImpresora }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "Impresoras",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
