﻿
<h4 class="subTitulo text-center"> Impresoras en CW</h4>
<div class="col-sm-6 media" id="divListImpresoras">
    @Html.Partial("~/Views/Impresoras/_Details.cshtml", (List<Intecsus.Entidades.Impresoras>)ViewBag.ListaImpresoras)
</div>
<div class="col-sm-5 media" id="divEditImpresoras">
    @Html.Partial("~/Views/Impresoras/_Create.cshtml", new Intecsus.Entidades.Impresoras ())
</div>