﻿@model IEnumerable<Intecsus.Entidades.Usuario>
@using Intecsus.Entidades
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "Usuario", item, new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divEditUsuario",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|
                @Ajax.ActionLink("Eliminar", "Delete", "Configuracion", new { idUser = item.IdUsuario }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "divUsuario",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
