﻿@model Intecsus.Entidades.Usuario
@using (Ajax.BeginForm("ModificarContrasena", "Usuario",
    new AjaxOptions
    {
        OnBegin = "onSuccess",
        HttpMethod = "POST",
        UpdateTargetId = "divUsuario",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoader"
    }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/_Mensajes.cshtml")
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.IdUsuario, new { htmlAttributes = new { @class = "invisible" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContrasenaConfirm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContrasenaConfirm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContrasenaConfirm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
