﻿<h4 class="subTitulo text-center"> Lista Usuarios</h4>
<div class="col-sm-6 media" id="divListUsuario">
    @Html.Partial("~/Views/Usuario/_Details.cshtml", (List<Intecsus.Entidades.Usuario>)ViewBag.ListUsuarios)
</div>
<div class="col-sm-5 media" id="divEditUsuario">
    @{
        Intecsus.Entidades.Usuario m_Usuario = new Intecsus.Entidades.Usuario();
        Intecsus.Entidades.Usuario m_UsuarioI = (Intecsus.Entidades.Usuario)Session["Usuario"];
        m_Usuario.Roles = m_UsuarioI.Roles;
    }
    @Html.Partial("~/Views/Usuario/_Create.cshtml", m_Usuario)
</div>
