﻿@model IEnumerable<Intecsus.Entidades.Producto>
@using Intecsus.Entidades
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamano)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamano)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "Productos",
                new Producto
                {
                    IdProducto = item.IdProducto,
                    Cliente = item.Cliente,
                    ProductoName = item.ProductoName,
                    CardName = item.CardName,
                    //XML = item.XML,
                    Tamano = item.Tamano
                },
                new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divEditProducto",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|

                @Ajax.ActionLink("Eliminar", "Delete", "Productos", new { idProducto = item.IdProducto }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "Productos",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
