﻿<h4 class="subTitulo text-center"> Productos configuración CW</h4>
<div class="col-sm-6 media" id="divListProducto">
    @Html.Partial("~/Views/Productos/_Details.cshtml", (List<Intecsus.Entidades.Producto>)Session["ListaProductos"])
</div>
<div class="col-sm-5 media caja" id="divEditProducto">
    @Html.Partial("~/Views/Productos/_Create.cshtml", new Intecsus.Entidades.Producto())
</div>

