﻿@model IEnumerable<Intecsus.Entidades.EstadoXImpresion>
@using Intecsus.Entidades
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCodRespuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMessageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDataInteger)
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCodRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMessageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDataInteger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
            </td>
            <td>
                @Ajax.ActionLink("Editar", "Details", "EstadosXImpresion", item, new AjaxOptions
                                 {
                                     HttpMethod = "GET",
                                     UpdateTargetId = "divEditEstadoXImpresion",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })|
                @Ajax.ActionLink("Eliminar", "Delete", "EstadosXImpresion", new { IdCodRespuesta = item.IdCodRespuesta }, new AjaxOptions
                                 {
                                     HttpMethod = "POST",
                                     UpdateTargetId = "divEstadoXImpresion",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "divLoader"
                                 })
            </td>
        </tr>
    }

</table>
