﻿<h4 class="subTitulo text-center"> Estados X Impresión</h4>
<div class="col-sm-6 media" id="divListEstadoXImpresion">
    @Html.Partial("~/Views/EstadosXImpresion/_Details.cshtml", (List<Intecsus.Entidades.EstadoXImpresion>)ViewBag.ListEstadoXImpresion)
</div>
<div class="col-sm-5 media" id="divEditEstadoXImpresion">
    @{
        Intecsus.Entidades.EstadoXImpresion m_Estados = new Intecsus.Entidades.EstadoXImpresion();
        m_Estados.EstadosSelec = (IEnumerable<Intecsus.Entidades.Estados>)Session["Estados"];
    }
    @Html.Partial("~/Views/EstadosXImpresion/_Create.cshtml", m_Estados)
</div>
