﻿<h4 class="subTitulo text-center"> Conversión Mensajes</h4>
<div class="col-sm-6 media" id="divListConversionM">
    @Html.Partial("~/Views/ConversionM/_Details.cshtml", (List<Intecsus.Entidades.ConversionMensaje>)ViewBag.ListaConversionM)
</div>
<div class="col-sm-5 media" id="divEditConversionM">
    @Html.Partial("~/Views/ConversionM/_Create.cshtml", new Intecsus.Entidades.ConversionMensaje())
</div>
