﻿@model Intecsus.Entidades.Usuario

@{
    ViewBag.Title = "Exito";
}

<div>
    <div class=" row">
        <div class="col-sm-4 media">
            <h3 class="subTitulo text-center">Transacciones en el día</h3>
            <table class="table table-striped">
                <tr>
                    <td>Exitosos</td>
                    <td><p>@ViewBag.TotalExitoso</p></td>
                </tr>
                <tr>
                    <td>Fallidos</td>
                    <td><p>@ViewBag.TotalError</p></td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><p><strong>@ViewBag.Total</strong></p></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-8">
            @Html.Partial("~/Views/EstadoTransaccion/_Details.cshtml", new List<Intecsus.Entidades.EstadoTransaccion>())
        </div>
    </div>
</div>
@Html.Partial("~/Views/Home/_SubMenu.cshtml")

<h4>Usuario</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.IdUsuario)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IdUsuario)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UserID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UserID)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Contrasena)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Contrasena)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nombre)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Apellido)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Apellido)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nombres)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nombres)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Identificacion)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Identificacion)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.RolAsociado.NombreRol)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RolAsociado.NombreRol)
    </dd>

</dl>