﻿@using Intecsus.Entidades
@model Usuario
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-inline">
    @using (Html.BeginForm("Ingreso", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.UserID, new { @class = "form-control" })

        @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control margin2" })
        <input type="submit" value="Ingresar" class="btn btn-success" />
        <br />
        @Html.ValidationMessageFor(m => m.Contrasena, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })
    }
    
</div>