﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IHI</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="40">
    <div class="jumbotron Titulo text-center">

        <h1><strong>I</strong>ntecsus <strong>H</strong>ost <strong>I</strong>nterface</h1>
        <p>Sitio Web para edición y configuración</p>
        @RenderBody()
    </div>
    @Html.Partial("_Mensajes")
    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col-sm-8">
                <h2>Acerca del Intecsus Host Interface</h2>
                <h4>Es una solución tecnologica compuesta por varias aplicacione.</h4>
                <p>Su funcion principal es lograr la interacción con diferentes sistemas con el objetivo de realizar todo el proceso de emisión instantanea de tarjetas</p>
            </div>
            <div class="col-sm-4 media">
                <span class="glyphicon glyphicon-signal logoP" style="font-size: 150px;"> </span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey" id="portfolio">
        <div class=" row">
            <div class="col-sm-4 media">
                <span class="glyphicon glyphicon-globe logoP" style="font-size: 150px;"></span>
            </div>
            <div class="col-sm-8">
                <h2>Implementaciones</h2>
                <h4>La solucion ha sido implementada por entidades financieras en toda latinoamerica</h4>
                <p>Logrando cumplir con los objetivos de facilitar los procesos para que el cliente tenga ......</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" id="services">
        <h2>Servicios</h2>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-off logo-smallP"></span>
                <h4>Funcionamiento</h4>
                <p>Las 24 horas de todos los días del año</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-user logo-smallP"></span>
                <h4>Usuarios</h4>
                <p>Obtienen su tarjeta en tiempo inmediato</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock logo-smallP"></span>
                <h4>JOB DONE</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-ok logo-smallP"></span>
                <h4>GREEN</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-certificate logo-smallP"></span>
                <h4>Area tecnica</h4>
                <p>caa</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench logo-smallP"></span>
                <h4>HARD WORK</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
        </div>
    </div>
    <div class="container-fluid " id="PRICING">
        <h2>What our customers say</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
                </div>
                <div class="item">
                    <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
                </div>
                <div class="item">
                    <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container-fluid bg-grey text-center" id="contact">
        <h2>CONTACT</h2>
        <div>
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    Bienvenido
                </div>
                @*<a class="navbar-brand" href="#"><img src="~/Img/LOGOIntecsus.png" alt="Intecsus SAS" width="30" height="30" /></a>*@
            </div>
            <div class="navbar-collapse collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#services">SERVICES</a></li>
                    <li><a href="#pricing">PRICING</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - INTECSUS SAS</p>
        <p>Diseñado y desarrollado por AERM</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
