﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IHI</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="40">
    <div class="jumbotron Titulo text-center">

        <h1><strong>I</strong>ntecsus <strong>H</strong>ost <strong>I</strong>nterface</h1>
        <p>Sitio Web para edición y configuración</p>
    </div>
    @Html.Partial("_Menu")
    @Html.Partial("_Mensajes")
    @RenderBody()
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - INTECSUS SAS</p>
        <p>Diseñado y desarrollado por AERM</p>
    </footer>

    <div id="divLoader" style="display: none;">
        <div id="divLodModal" class="modal"></div>
        <div id="divFondo" class="loader">
            <img id=" imgloader" src="~/img/cargando-loading.gif" alt="Cargando ..." />
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/sitio")
    @Scripts.Render("~/bundles/Filtros")
    @RenderSection("scripts", required: false)
</body>
</html>
