﻿@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{
                    var user = (Intecsus.Entidades.Usuario)Session["Usuario"];
                    if (user != null)
                    {
                        <a class="navbar-brand" href="#myPage">@user.Nombres</a>
                    }
                }
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#services">SERVICES</a></li>
                    <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#pricing">PRICING</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>*@
<nav class="navbar navbar-default MenuEstatico">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        @{
            var user = (Intecsus.Entidades.Usuario)Session["Usuario"];
            if (user != null)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{
                if (user.RolAsociado.Configuracion)
                {
                    <li>@Html.ActionLink("Configuración ", "Configuracion", "Principales")</li>
                }
                @*<li>@Html.ActionLink("Impresoras", "About", "Home")</li>
                    <li>@Html.ActionLink("CardFormat", "Contact", "Home")</li>*@
                            <li>@Html.ActionLink("Integración CW ", "IntegracionCW", "Principales")</li>
                            <li>@Html.ActionLink("Mensajes Cliente ", "Mensajes", "Principales")</li>
                            <li>@Html.ActionLink("Log Eventos", "About", "Home")</li>
                            <li>@Html.ActionLink("Transacciones", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Re-Procesos ", "IntegracionCW", "Principales")</li>
                            <li>@Html.ActionLink("Estados CW", "EstadosCW", "Principales")</li>
                            <li>@Html.ActionLink("Usuarios", "UsuariosCW", "Principales")</li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Salir", "LogOn", "Home")</li>
                    </ul>
                </div>
            }
        }
    </div>
</nav>