﻿@{
    if (String.IsNullOrEmpty(ViewBag.MensajeError) == false)
    {
        <div class="alert alert-danger margin-bottom-0" role="alert">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @ViewBag.MensajeError
        </div>
    }
    if (String.IsNullOrEmpty(ViewBag.MensajeSuccess) == false)
    {
        <div class="alert alert-success margin-bottom-0" role="alert">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            <span class="sr-only">Exitoso:</span>
            @ViewBag.MensajeSuccess
        </div>
    }
    if (String.IsNullOrEmpty(ViewBag.Informativo) == false)
    {
        <div class="alert alert-info margin-bottom-0" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Recuerde:</span>
            @ViewBag.Informativo
        </div>
    }
    if (String.IsNullOrEmpty(ViewBag.Advertencia) == false)
    {
        <div class="alert alert-warning margin-bottom-0" role="alert">
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
            <span class="sr-only">Advertencia:</span>
            @ViewBag.Informativo
        </div>
    }
}
