﻿@{
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="alert alert-danger margin-bottom-0" role="alert">
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    An error occurred while processing your request
</div>

@*<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>*@
